In [1]:
# Importing dependecies
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

<h2>Reflecting Tables into SQLAlchemy ORM</h2>

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
 # creating engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [5]:
# reflecting an existing database into a new model
Base=automap_base()
# reflecting the tables
Base.prepare(engine, reflect=True)

In [6]:
# Viewing all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Saving references to each table
Measurement=Base.classes.measurement
Station=Base.classes.station

In [9]:
# Creating our session (link) from Python to the DB
session=Session(engine)

In [12]:
# Using the session to query Measurement table and display the first 5 dates
for row in session.query(Measurement.date).limit(5).all():
    print(row)

('2010-01-01',)
('2010-01-02',)
('2010-01-03',)
('2010-01-04',)
('2010-01-06',)

In [14]:
# Using the session to query Measurement table and display the first 5 stations
for row in session.query(Station.station).limit(5).all():
    print(row)

('USC00519397',)
('USC00513117',)
('USC00514830',)
('USC00517948',)
('USC00518838',)

<h2> Exploratory Precipitation Analysis</h2>

In [ ]:
 # Find the most recent date in the data set.

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.


# Perform a query to retrieve the data and precipitation scores


# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
 # Use Pandas to calcualte the summary statistics for the precipitation data

<h2> Exploratory Station Analysis</h2>

In [ ]:
 # Design a query to calculate the total number stations in the dataset

In [ ]:
 # Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
 # Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
 # Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

<h2> Close Session </h2>

In [ ]:
 # Close Session
session.close()